
    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        object-fit: cover; 
        z-index: 0; 
    }
    .inicio {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: rgba(56, 54, 54, 0.652); 
        z-index: 1; 
    }
    
    .text-white {
        z-index: 2; 
    }
    
    .bg-blue {
        position: relative; 
    }

    .text {
       
        position: relative;
        color: white;
        font-family: Arial;
        z-index: 2;
        font-size: 100px;
        font-weight: bold;
    
    }
.container {
    display: flex;
    justify-content: space-between;
    
}

.item {
    text-align: center;
    flex: 1; 
}

.item img {
    display: block;
    margin: 0 auto;
    max-width: 100%; 
    height: auto; 
    width: 350px; 
    height: auto; 
    margin-bottom: 30px; 
    border: rgba(5, 126, 54, 0.948);
   
    
  
}


.item p {
    margin-top: 5px; 
    font-size: 14px; 
}

.item button {
    margin-top: 5px; 
    background-color: rgba(5, 126, 54, 0.948);
    color: #fff; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 200px;
}


.item button:hover{
    background-color: rgb(255, 255, 255);
    color:  rgba(5, 126, 54, 0.948);
    border: 1px solid rgba(5, 126, 54, 0.948);
}

footer {
    background-color: rgba(5, 126, 54, 0.948);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
  
}

.linha-verde {
    width: 100%;
    height: 6px; 
    background-color:rgba(5, 126, 54, 0.948);
    justify-content: center;
    margin: 0;
    position: relative;
}

.sobre {
    font-size: 50px;
    padding-left: 5%;
    font-family: arial;
    font-weight: bold;
    color: rgba(4, 4, 4, 0.884);
}


    
    
